#map { position: absolute; left: 0; right: 250px; top: 0; bottom: 0; border-right: 1px solid black; box-sizing: border-box; }
#editor { position: absolute; width: 250px; top: 0; bottom: 0; right: 0; }
#editor > div > textarea {
  width: 100%;
  box-sizing: border-box;
}
